@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1, h2, h3, h4, h5, h6{
        @apply font-bold;
    }

  h1 {
    @apply text-[clamp(2.5rem,1.4285714285714286rem+5.357142857142857vw,6.25rem)];
  }
  h2 {
    @apply text-[clamp(1.7rem,1.3285714285714285rem+1.8571428571428572vw,3rem)];
  }

  h3 {
    @apply text-[clamp(1.6rem,1.342857142857143rem+1.2857142857142856vw,2.5rem)];
  }
  .ql-editor h3 {
    @apply text-[clamp(1.6rem,1.342857142857143rem+1.2857142857142856vw,2.5rem)] !important;
  }
  
  h4 {
    @apply text-[1.5rem];
  }
  h5 {
    @apply text-[1.25rem];
  }
  h6 {
    @apply text-[1rem];
  }
  * {
    @apply scroll-smooth;
  }
  body {
    @apply dark:text-white text-black text-[14px] dark:bg-black bg-white overflow-x-hidden font-manrope font-medium;
  }
  /* p,
  span,
  a,b {
    @apply text-[14px];
    
  } */
  a{
    @apply hover:scale-105 duration-500
  }
  header a{
    @apply hover:text-inherit duration-500
  }
  footer a{
    @apply hover:text-black hover:font-bold 
  }

  ul,ol{
    @apply space-y-1 mb-1.5 ml-8
  }

  ul{
    list-style: outside;
  }
  ol{
    list-style: decimal;
  }

  /* input,
  textarea {
    @apply ;
  } */
  input,textarea {
    @apply !rounded-none
  }

}
@layer utilities {
  .headerSectionAnimation {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(20px);
  }

  .sectionHeaderWidth{
    @apply w-[95%] sm:w-[70%] mx-auto
  }
  .sectionHeaderSubtextWidth{
    @apply text-[16px] xs:text-lg md:text-xl
  }

  .primaryButton{
    @apply cursor-pointer px-4 py-2 text-center text-sm text-nowrap font-bold rounded-sm duration-500 text-white bg-custom-primary border border-custom-primary hover:shadow-sm 
  }
  .activePrimaryButton{
    @apply hover:bg-custom-half-primary hover:text-custom-primary
  }

  .primaryButton2{
    @apply cursor-pointer text-center text-sm text-nowrap font-bold rounded-sm duration-500 text-custom-primary bg-white border border-custom-primary hover:shadow-sm 
  }
  .activePrimaryButton2{
    @apply hover:bg-custom-primary hover:text-white
  }

  .joinedFilterButton{
    @apply bg-white duration-500 hover:bg-custom-primary btn join-item border border-gray-300 hover:border-gray-300 text-inherit
  }
  .formSubmitBtn{
    @apply btn text-white btn-block rounded-none
  }

  .fromWrapper{
    @apply card w-full shrink-0 bg-custom-primary text-black shadow-xl p-4 md:p-8 my-20 space-y-4
  }

  .MyReviewTable thead tr, .MyReviewTable tfoot tr, .MyReviewTable th{
    @apply bg-custom-primary text-white
  }


  .footerCopyRights a {
    /* animation-name: glowMyPortfolioLink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode:both; */
    /* animation-timing-function: cubic-bezier(0.28, -0.08, 0.61, 1.04); */
    animation: glowMyPortfolioLink 5s linear infinite;
  }
  
  @keyframes glowMyPortfolioLink {
    
    0% {
      color: #000000;
    }
  
    10% {
      color:  #4d4c4c;
    }
    26% {
      color:  #9a9999;
    }
    45% {
      color:  #ffffff;
    }
    64% {
      color:  #9a9999;
    }
    90% {
      color:  #4d4c4c;
    }
    100% {
      color: #000000
    }
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .bg-custom-gradient {
    background: linear-gradient(109deg, rgba(199,101,165,1) 0%, rgba(241,71,73,1) 40%, rgba(251,202,87,1) 100%);
  }

  .menu li > *:not(ul,.themeController, .menu-title, details, .btn):active, .menu li > *:not(ul,.themeController, .menu-title, details, .btn).active, .menu li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: inherit;
    color: inherit;
    border-radius: 0px;
    border-bottom: 2px solid;
}

.menu li > .themeController:active ,.themeController:focus, .menu li > .themeController.active {
  border: none !important;
}

.themeController:hover, .themeController:focus{
  color:inherit !important;
  background-color: transparent !important;
}

.menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  @apply pl-0 lg:pl-4 ml-4 lg:ml-0 

}
.drawer-side .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .drawer-side .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  margin-inline: 0px;
  padding-inline: 0px !important;
  padding-right: 1rem !important;
}

@media (min-width: 1024px) {
  .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    margin-inline: 0px;
    padding-inline: 1rem;
  }
}

.menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    margin-inline: 0px;
    padding-inline: 1rem;
}

.input:focus, .input:focus-within,
.textarea:focus, .textarea:focus-within,
.select:focus, .select:focus-within{
  @apply border-white

}
.input:focus, .input:focus-within,
.textarea:focus, .textarea:focus-within,
.select:focus, .select:focus-within{
  color: inherit;
  background-color: transparent !important;

}
.input:disabled ,
.textarea:disabled {
  color: #7272729b;
  border-color: #7272729b !important;
  background-color: #6868682b !important;

}
.invalid{
  @apply border focus:border-red-600
}

/* ADD BLOG  */

.input-box:has(.input-field:focus-within) .input-label{
  display: none;
}
.itsLongDispriction{
  line-height: 1.6rem;
}
.itsLongDispriction p{
  margin-bottom: 8px !important;
}
.itsLongDispriction h4{
  margin-block: 20px !important;
}
.itsLongDispriction h5{
  margin-block: 12px !important;
}
.itsLongDispriction h6{
  margin-block: 8px !important;
}

}
